{% extends "base.html" %}

{% block title %}Đăng Ký Tài Khoản{% endblock %}
{% block page_title %}Đăng Ký Tài Khoản Mới{% endblock %}

{% block content %}
<form action="{{ url_for('auth_site.register') }}" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Đăng Ký</button>
</form>
<p>Đã có tài khoản? <a href="{{ url_for('auth_site.login_form') }}">Đăng nhập</a></p>
{% endblock %}